doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title  福井高専OB訪問 2017-10-06
    link(rel='stylesheet', href='css/reveal.min.css')
    link(rel='stylesheet', href='css/theme/white.css')
    link(rel='stylesheet', href='lib/css/zenburn.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/my.css')
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
  body
    .reveal
      .slides
        section
          h1 福井高専OB訪問
          p 2017-10-06
          p 福井高専 4EI教室
          p うなすけ
        section
          h2 誰
          .flex-container
            .item-40
              img(src='img/icon_raw.jpg' alt='icon')
            .item-60
              ul
                li 名前: うなすけ(中村 勇介)
                li
                  | 福井高専 電子情報工学科
                  br
                  | 46期生(23歳)
                br
                li
                  | twitter&nbsp;
                  i.fa.fa-twitter
                  | :&nbsp;
                  a(href='https://twitter.com/yu_suke1994') @yu_suke1994
                li
                  | GitHub&nbsp;
                  i.fa.fa-github
                  | :&nbsp;
                  a(href='https://github.com/unasuke') @unasuke
                li
                  | fb&nbsp;
                  i.fa.fa-facebook-square
                  | :&nbsp;
                  a(href='https://www.facebook.com/yusuke.nakamura1994') yusuke.nakamura1994
        section
          h2 所属
          .flex-container
            .item-40
              img(src='img/spice-life.png' alt='spicelife logo')
              img(src='img/TMIX-logo.png' alt='TMIX logo')
            .item-60
              ul
                li
                  | 株式会社spice life
                  br
                  | (2015.04〜)
                li 開発部
                li: del プログラマ
                li インフラリードエンジニア
                li ■■■■■■■
        section
          h2 TMIXについて
          a(href='https://tmix.jp') tmix.jp
          p オリジナルTシャツを購入できるB2CのECサイト
          img(src='img/tmix_lp.png' width='70%')
        section
          h2 TMIXについて
          a(href='https://tmix.jp') tmix.jp
          p デザインから購入までブラウザ上で完結
          img(src='img/tmix_editor.png' width='70%')
        section(data-background-image='img/tmix-tech-stack.png')
          .blur
            h2 TMIXについて
            h3 使用技術
            ul
              li Ruby (Ruby on Rails)
              li Scss
              li JavaScript (React)
              li Docker
              li AWS (EC2, S3...)
              li etc...
        section
          h3 会社紹介終わり
        section
          h3
            | 事前にもらった質問に答えつつ
            br
            | 学生時代の話をします
        section
          h2 1〜3年生
          p 順調に成績が落ちていく
          p 高専祭実行委員とかしてた気がする
        section
          h2 4年生 インターンシップ
          p ■■■■■■■■■■■■■■■■
          p Objective-Cを用いたiOS アプリの作成
          <iframe src="//www.slideshare.net/slideshow/embed_code/key/2BkQFyyepd1u4Z" width="510" height="420" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/yusukenakamura1994/ss-25749917" title="インターンシップ成果報告プレゼン" target="_blank">インターンシップ成果報告プレゼン</a> </strong> from <strong><a href="//www.slideshare.net/yusukenakamura1994" target="_blank">うなすけ </a></strong> </div>
        section
          h2 4年生 インターンシップ
          p
            | この時はインターン先が近い友人に
            br
            | 家から車で送ってもらっていました
          br
          br
          br
          small
            | インターンに関する質問はだいたいこれで答えられたはず
        section
          h2 5年生 就活
          p ※ 就活そのものは4年生の3月から開始
          small
            | 進級できるかどうかヒヤヒヤしてた
        section
          h2 5年生 就活
          h3 面接練習について
          p 担任の先生との面接練習
          ul
            li 志望理由
            li 自己紹介
            li 自分の長所
          p くらいはスラスラ言えるように
          p あとはとにかく落ち着くこと
        section
          h2 5年生 就活
          h3 落ちまくる
          p 6/16時点で3応募、3お祈り
        section
          h2 5年生 就活
          h3 就職先の希望
          ol
            li 首都圏であること
            li 業務内容がプログラミングであること
          br
          p なので学校に来てる求人は少なかった
        section
          h2 5年生 就活
          p 学校に来ている求人が少ない
          p ↓
          p 自分から見つけるしかない！
          p Wantedly経由でいくつかの企業に訪問
        section
          h2 5年生 就活
          h3 6/23
          p spice life 内定
          p (高専カンファレンス経由)
        section
          h2 仕事編
        section
          h2 仕事
          h3 どのような業務をしているのか
          ul
            li プログラミング
              ul
                li 主にRubyを書いている
        section
          h2 仕事
          h3 スケジュール
          p フレックス制度なので日によってまちまち
          p 午前中に出社していることは少ない
          small オフィスだけで仕事をしている訳でもない
        section
          h2 仕事
          h3 スケジュール(1)
          h4 とある1日
          ul
            li 13時 出社
            li 22時 退社
        section
          h2 仕事
          h3 スケジュール(2)
          h4 昨日
          ul
            li 14時 コメダ珈琲で作業開始
            li 19時 帰宅してごはん食べて再開
            li 21時 終業
        section
          h3
            | 僕の話ばかりでもつまらないので
            br
            | みんなが聞きたそうな話をします
        section
          h2
            | 1. ベンチャーに就職するために
            br
            | 2. 就職した後やっていくために
        section
          h2 ベンチャーに就職するために
          h3 ベンチャーとは
          p 「ベンチャー企業」の略
          p e.g. pixiv, cookpad, moneyfoward...
        section
          h2 ベンチャーに就職するために
          h3 やっておきたいこと
          ul
            li 何かつくってみる
            li それを公開する
        section
          h2 ベンチャーに就職するために
          h3 何かつくってみる
          p 何でもいいので「手を動かした実績」を作ること
          ul
            li iOS app
            li android app
            li Web app
            li ライブラリ
            li etc...
        section
          h2 ベンチャーに就職するために
          h3 それを公開する
          p 公開するために、gitとGitHubを使う
          p ⬆️
          p 業界のスタンダード
        section
          h2 ベンチャーに就職するために
          h3 なぜそんなことをするのか
          p 高専生は即戦力になれるか否かが重要
        section
          h2 ベンチャーに就職するために
          h3 でも作りたいものなんてない……
          p
            a(src='https://railstutorial.jp/') Ruby on Rails チュートリアル
            | をやりましょう
          small https://railstutorial.jp/
        section
          h2 就職した後やっていくために
          h3 やっていく ← とは？
          ul
            li 給料もっと欲しい
            li もっと大きな仕事を任されたい
            li とにかく戦力として評価されたい
          p そのためにどう行動するのが良いのか？
        section
          h2 就職した後やっていくために
          ul
            li 情報収集する
            li 手を動かして情報発信する
            li コミュニティに属する
        section
          h2 就職した後やっていくために
          h3 情報収集する
          p すぐに状況が変わっていく業界
          p はてなブックマークなどを使う
          small 要は勉強ですね
        section
          h2 就職した後やっていくために
          h3 手を動かして情報発信する
          p 最新のツールやテクノロジーを試してみて、
          p どう感じたか、業務に生かせそうか発信
          p ブログでもなんでも……
        section
          h2 就職した後やっていくために
          h3 コミュニティに属する
          p わからない部分を教えてもらったり
          p より良い条件の会社をオススメしてもらえたり(！)
        section
          h2 就職した後やっていくために
          ul
            li 情報収集する
            li 手を動かして情報発信する
            li コミュニティに属する
          p 義務感とか、焦りでこういうことをしている？
        section
          h2 就職した後やっていくために
          ul
            li 情報収集する
              ul.space: li 最新情報は面白い
            li 手を動かして情報発信する
              ul.space: li ものづくりは楽しい
            li コミュニティに属する
              ul.space: li みんなでワイワイ楽しい
          p 楽しいからやっている
        section
          h2 就職した後やっていくために
          h3 楽しくない、そんなのやりたくない
          p 業務時間だけ技術のことを考える
          p それでも生活はできる
          p 戦力としては厳しいかも……
          small
            a(src='https://axia.co.jp/2017-07-18')
              | 参考: エンジニアは業務時間外でも勉強するべきなのか - 株式会社アクシア
        section
          h3 ベンチャーに就職するために
          ul
            li 何かつくってみる
            li それを公開する
          h3 就職した後やっていくために
          ul
            li 情報収集する
            li 手を動かして情報発信する
            li コミュニティに属する
    script(src='lib/js/head.min.js')
    script(src='js/reveal.min.js')
    script.
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        history: true,
        transition: 'none',
        backgroundTransition: 'none',
        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
